.friends-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.friends-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@keyframes screenUp {
  from {
    transform: scale(1.3);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.friends-screen {
  animation: screenUp 1.5s ease-in-out forwards;
  animation-delay: 2s;
}

.friends-screen__channel-header {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: var(--gray);
}

@keyframes hideSplashScreen {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    color: greenyellow;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    color: greenyellow;
  }
}

.splash-screen {
  position: absolute;
  background: rgba(155, 155, 155, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 50px;
  color: var(--gray);
  padding-bottom: 80px;
  animation: hideSplashScreen 2s ease-in-out forwards;
}

.giftshop {
  border: #fd79a8 1px solid;
  border-radius: 15px;
  padding: 5px;
}

.giftshop i {
  color: #fd79a8;
}

.friends-song {
  border: #55efc4 1px solid;
  border-radius: 15px;
  padding: 5px;
}

.friends-song i {
  color: #55efc4;
}
