.icon-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  color: #183153;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon i:hover {
  color: #fd79a8;
  transform: scale(1.2);
}

.icon-row__icon span {
  margin-top: 18px;
  font-size: 10px;
  text-align: center;
}
