.screen-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: var(--horizontal-space);
  padding: 50px 20px;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.3);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.screen-header__position {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons {
  position: relative;
}

.screen-header__icons span {
  margin-left: 20px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1.5s linear infinite;
}

.screen-header__dot {
  position: absolute;
  top: -10px;
  right: -10px;
}
